 html {
  background-image: url('./images/background.jpg');
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Red Flower";
  src: url("./images/RedFlower.ttf");
}


body {
  margin: 0;
  min-height: 100%;
  font-size: 16px; 
  font-size: 1.6rem;
  font-family: 'Barlow', sans-serif;
}

.header {
  font-family: 'Red Flower';
  background-image: url('./images/background.jpg');
  font-size: 2rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid #e4b494 ;
  position: sticky;
  top:0;
  z-index: 4
}

.brand {
  color: #ffffff;
  padding-left: 10%; 
  font-size: 3rem;
  margin-right: 10%;
}

.contact-nav {
  padding-right: 12%;
}

.image-container {
  width: 100%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  background-image: url('./images/background.jpg')
}

.christmas-1-container {
  text-align: center;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-around;
}

.christmas-1 {
  width: 5rem;
}

.christmas-2 {
  width: 5rem;
  margin-left: 1rem;
}

.home-title {
  font-family: 'Red Flower';
  color: #ffffff;
  text-align: center;
  font-size: 3em;
  letter-spacing: 0.03em;
  padding-bottom: 5%;
}

.image {
  border: 4px solid #e4b494;
  border-radius: 2%;
  width: 100%
}

.menu-title {
  text-align: center;
  font-family: 'Red Flower';
  letter-spacing: 0.05em;
  font-size: 3.5rem;
  padding-top: 4%;
  padding-bottom: 3%;
  /* color: #e4b494 */
}

.menu-subtitle {
  text-align: left;
  font-family: 'Red Flower';
  padding-top: 4%;
  padding-bottom: 3%;
  color: #e4b494;
}

.menu-items {
  font-family: 'Red Flower';
  letter-spacing: 0.05em;
  margin-bottom: 0px;
  padding-left: 3%;
  font-size: 1.5em;
  color: #e4b494;
}

.first-menu {
  padding-top: 8%;
}

.p-menu-index {
  font-size: 0.8rem;
}

.menu-index-images {
  width: 50%;
}

.menu-container {
  background-image: url('./images/background.jpg');
  color: #ffffff;
}

.btn-contaniner {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .btn-contaniner {
    padding-left: 25%;
  }
  .menu-subtitle {
    text-align: center
  }
}

@media (min-width: 1200px) {
  .menu-subtitle {
    text-align: center;
  } 
}

@media (max-width: 1199px) {
  .menu-llevar {
    padding-top: 8%;
  }
}

.menu-btn {

  width: 50px;
  height: 50px;
  border-color: black;
  border-radius: 50%;
  background-image: url('./images/button.png');
  background-position: center;
  background-size: contain;
  margin-top: 5%;
  margin-bottom: 5%;
}

.menu-btn-text {
  border: none;
  font-family: 'Red Flower';
  letter-spacing: 0.05em;
  font-size: 100%;
  padding-left: 3%;
  padding-right: 0%;
}

.menu-image-container {
  text-align: center;
  margin-bottom: 15%;
}

.menu-images {
  width: 100%;
}

.menu-llevar {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 10%;
  font-size: 1.25rem;
}

.last-button {
  padding-bottom: 5%;
}

.item-container {
  border: 2px solid #e4b494;
  border-radius: 5%;
}

.logo-title-item {
  padding-bottom: 4%;
  width: 25%
}

.logo-title-item-christmas {
  padding-bottom: 4%;
  width: 35%
}

.item-christmas-subtitle {
  text-align: center;
  font-family: 'Red Flower';
  font-size: 2rem;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  margin-bottom: 0px;
  color: #e4b494;
  text-align: center;
}

.item-christmas-price {
  text-align: center;
  font-family: 'Red Flower';
  font-size: 3rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-bottom: 0px;
  color: #e4b494;
  text-align: center;
}

.item-christmas-p {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 0px;
}

.item-footer-container-christmas {
  padding-top: 2%;
}

.item-footer-christmas {
  font-size: 1rem;
  margin-bottom: 0px;
  text-align: center;
}

.item-title {
  text-align: center;
  font-family: 'Red Flower';
  letter-spacing: 0.05em;
  font-size: 3rem;
  padding-top: 6%;
  padding-bottom: 3%;
  color: #e4b494;
}

.item-p-text {
  font-size: 1.1rem;
  text-align: left;
  margin-bottom: 0px;
}

.item-p-price {
  font-size: 1.1rem;
  text-align: right;
  margin-bottom: 0px;

}

.item-footer-container {
  padding-top: 10%;
}

.item-footer {
  font-size: 1rem;
  margin-bottom: 0px;
  text-align: left;
}

.item-footer-image {
  padding-top: 10%;
  width: 100%;

}

.beer-logo {
  width: 30px;
  margin-left: 3%;
}

.about-us-container {
  background-image: url('./images/background.jpg');
  color: #ffffff;
  text-align: center;
  padding: 5% 15% ;
}

.about-us-title {
  font-family: 'Red Flower';
  letter-spacing: 0.05em;
  font-size: 3.5rem;
  padding-bottom: 4%;
}

.about-us-p {
  padding-bottom: 2%;
  text-align: left;
}

.about-us-image {
  width: 75%;
  margin-top: 5%;
  margin-bottom: 3%;
  border: 4px solid #e4b494;
  border-radius: 2%;
}

.footer {
  border-top: 1px solid #e4b494 ;
  background-image: url('./images/background.jpg');
  color: #ffffff;
  padding: 4%;
}

.footer-titles {
  font-size: 1rem;
  padding-bottom: 0.2%;
}

.footer-text {
  font-size: 0.8rem;
  margin: 0%;
  padding-bottom: 0.2%;
}

.container-footer-cols {

  text-align: center;
}

.container-footer-images {
  display: flex;
  justify-content: center;
  padding-bottom: 6%;
}

.footer-image-instagram {
  width: 40px;
  height: 40px;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 6%;
}

.footer-image-facebook {
  width: 40px;
  height: 40px;
  margin-top: 3%;
  margin-bottom: 6%;
}

.container-rrss-footer {
  text-align: center;
}

@media (max-width: 767px){
  .container-footer-cols{
    padding-bottom: 8%;
  }
}
